.Home-part{
    background: url('../../images/9.png') center/cover no-repeat;
    height: 45em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
.nav{
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    background-color: rgba(255, 255, 255, 0);; 
    z-index: 1000; 
}
.home-text {
  line-height: 200px; 
  position: relative; 
  color: white; 
  width: 100%; 
  margin-bottom: 10px; 
}

.homeBtns {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  width: 100%; 
}

.sectorText{
    width: 600px;
    text-align: center; 
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30% !important;
    /* margin-top: 2em !important; */
}
.one{
    height: 300px;
    width: 230px;
}
.sectorDiv {
    margin-top: 3em;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 100px;
    height: auto; 
    margin: 5px; 
  }
  .prodHeader{
    width: 1400px;
    height: 55px;
    top: 2957px;
    left: 427px;
    color: #3473C8;
  }
  .prodDiff{
    position: relative;
    margin-top: 3em;
  }
  .prodText {
    width: 700px;
    margin: 0 auto; 
    margin-top: 5em;
    text-align: center; 
  }
  .Banner{
    width: 100%;
  }
  .abtAstrachem{
    background-color: #3473C8;
    height: 20em;
    text-align: center;
  }
  .par1{
    width: 60%;
    text-align: center;
    padding-top: 2em;
  }