.Home-part{
    background: url('../../images/9.png') center/cover no-repeat;
    height: 45em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
.home-text{
    text-align: center; 
    line-height: 200px; 
    position: relative; 
    color: White;
}

.sectorText{
    width: 600px;
    text-align: center; 
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30% !important;
    margin-top: 2em !important;
}
.one{
    height: 300px;
    width: 230px;
}
.sectorDiv{
    text-align: center;
    position: relative; 
    justify-content: center;
    align-items: center;
}
.image-row {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }
  
  .image {
    width: 100px;
    height: auto; 
    margin: 5px; 
  }